@model HairSalon.Models.Stylist

<h2>Are you sure you want to fire @Html.DisplayFor(model => model.Name)?</h2>
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to List", "Index")