@using HairSalon.Models;
@model List<HairSalon.Models.Stylist>;

<h1>Stylists</h1>

@if (@Model.Count == 0)
{
  <h3>No stylists have been added yet! Please click add stylist to continue.</h3>
}

@foreach (Stylist stylist in Model)
{
  <li>@Html.ActionLink($"{stylist.Name}","Details", new { id = stylist.StylistId })</li>
}

<p>@Html.ActionLink("Add stylist", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>