@model HairSalon.Models.Client

<h4>Add a new client</h4>

@using (Html.BeginForm())
{
  <div class="add-client-form-wrapper">
  <p>@Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)</p>

  <p>@Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")</p>
  </div>

  <input type="submit" value="Add new client" class="btn btn-success" />
}