@using HairSalon.Models;
@model List<HairSalon.Models.Client>;

<h1>Clients:</h1>

@if (@Model.Count == 0)
{
  <h3> No clients have been added yet!</h3>
}

<ul>
@foreach (Client client in Model)
{

  <li>@Html.ActionLink($"{client.Name}", "Details", new {id = client.ClientId}) </li>
  <b>Stylist:@Html.ActionLink($"{client.Stylist.Name}","Details", "Stylists", new {id = client.Stylist.StylistId}) </b>
}
</ul>

<p>@Html.ActionLink("Add new client", "Create")</p>
<p>@Html.ActionLink("Go Back to Home", "Index", "Home")</p>